!!!
%html
	%head
		%meta{ charset:'utf-8' }
		%meta{ name:'viewport', content:'width=device-width, initial-scale=1.0' }
		%title Good People LLC - Live-in caregivers & companions
		= stylesheet_link_tag	'application', media: 'all'
		= javascript_importmap_tags
		= javascript_google_tag
		= csrf_meta_tags
		= csp_meta_tag

	%body.body--index-pg
		%header
			.row
				.columns.small-centered.small-10.medium-8
					= link_to intro_path do
						= render 'svg_gp_logo_complete', class_name: 'svg--gp-logo-index-pg'
			.row
				.columns.small-centered.small-8
					%h1.h1--index-pg
						If you require 24/7 assistance
						%br
						and wish to receive
						%br
						great care
						%br
						in your home,
						%br
						Good People can help

		= render 'cta_learn_more'

		.row.collapse
			.columns.small-centered.small-11.medium-8.large-6
				%section.orbit{ role:'region', 'aria-label':'excerpts of testimonials' }
					%ul.ul--testimonials-excerpts
						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... From the first phone call until the last day, Good People was true to its name. ... honest and caring. ... and I always felt that if things did not work out, Good People "had my back.". ..."
								%p.p--testimonial-signature ~Jane Camerini
							= link_to 'read the full letter', testimonials_path( anchor:3523 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Good People were very thorough in questioning us about Tony’s needs, and extremely caring about who to place with him. ..."
								%p.p--testimonial-signature ~Laura Franciskovich
							= link_to 'read the full letter', testimonials_path( anchor:3743 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... They showed that whatever they could do for us, it would be all about caring for my sister. ... Paul was absolutely wonderful ... stepped right in and did everything. ... When sister passed he was the anchor we all needed. ..."
								%p.p--testimonial-signature ~David Marita
							= link_to 'read the full letter', testimonials_path( anchor:4314 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... After just one conversation with Justyna, I immediately felt confident that I could get my father back home ... the care that my father received was top notch. ..."
								%p.p--testimonial-signature ~Michael Brochtrup
							= link_to 'read the full letter', testimonials_path( anchor: 4141 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... With my father, quality of life ... was critical for his overall well being ... a strong recommendation to anyone considering the services of Good People. ..."
								%p.p--testimonial-signature ~Kevin Capwell
							= link_to 'read the full letter', testimonials_path( anchor:3517 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... I will always be grateful for the expertise and competence demonstrated by the caregivers located by Good People. They allowed us to keep my wife in her home. ..."
								%p.p--testimonial-signature  ~Robert Kaupie MD
							= link_to 'read the full letter', testimonials_path( anchor:3369 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Your company found us a wonderful live in care giver--our family considered her an angel. She was so kind, loving and helpful ..."
								%p.p--testimonial-signature ~Jim Caldwell
							= link_to 'read the full letter', testimonials_path( anchor:2210 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Only because of Good People, my aunt was able to stay in her own home.	If any one of my friends need a live-in caregiver, I would recommend Good People.	If any one of my family members need a live-in caregiver, I will call ... Good People myself. ..."
								%p.p--testimonial-signature ~John P.
							= link_to 'read the full letter', testimonials_path( anchor:3099 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "Our family was in a crisis situation, when we found Good People. ... my parents ... are happy, well cared for and safe. Good People have been a blessing  ..."
								%p.p--testimonial-signature ~Jill Proulx
							= link_to 'read the full letter', testimonials_path( anchor:1212 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Bob gave my father the independence my father still tried to keep but was always close by just in case he was needed. Bob became part of our family and not only did Bob love caring for my father but also loved playing with all my father's grand kids. ..."
								%p.p--testimonial-signature ~Katie Osborne
							= link_to 'read the full letter', testimonials_path( anchor:3555 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Hospice Care recommended your program and we are so grateful for that ... Tonga put her own needs aside for several weeks while she got to know my Aunt, her routines and needs, and cooperated fully with the Hospice staff. ... We will recommend you ... to our friends when they find themselves in a similar situation."
								%p.p--testimonial-signature ~Wendy Steve
							= link_to 'read the full letter', testimonials_path( anchor:3945 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... my mother was hospitalized for a week for pneumonia, among other issues. ... Only because of Good People, my parents have been able to stay in her own home. ... Thank you for being a blessing ..."
								%p.p--testimonial-signature ~Phyllis D.
							= link_to 'read the full letter', testimonials_path( anchor:3711 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "What do you do when you live 1,500 miles away from your aging parents? ... We are both so very grateful that we found Good People and the loving caregivers they work with."
								%p.p--testimonial-signature ~Jane Beule
							= link_to 'read the full letter', testimonials_path( anchor:2898 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... This gave great comfort to our family and we have always rested easy knowing that she was safe and cared for very well. ..."
								%p.p--testimonial-signature ~Ralph S.
							= link_to 'read the full letter', testimonials_path( anchor:2799 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "I heard about Good People from a friend and it sounded too good to be true! ... It would not have been possible without GoodPeople. ..."
								%p.p--testimonial-signature ~Barbara Roe
							= link_to 'read the full letter', testimonials_path( anchor:3775 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... We were very pleased with everything Good People did to help us make the dream of bringing Tony home a reality."
								%p.p--testimonial-signature ~Laura Franciskovich
							= link_to 'read the full letter', testimonials_path( anchor:3743 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "Our mother was hospitalized with end stage idiopathic pulmonary fibrosis ... Inga was the perfect match ... She stepped right in and provided the care our mother needed from the first day. ... Good People followed up after Inga's first day, first week and second week of service to make sure we were all a good match. ... We would highly recommend Good People and Inga"
								%p.p--testimonial-signature ~Mary L Wyss
							= link_to 'read the full letter', testimonials_path( anchor:3852 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... His presence gave all of the children peace of mind that Mom was okay. We did not have to worry about her safety, her food preparation, her shopping or anything. We had the pleasure of trying out new recipes that our caregiver cooked. ..."
								%p.p--testimonial-signature ~Geraldine A. Gorman
							= link_to 'read the full letter', testimonials_path( anchor:4036 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... I received references for GoodPeople from a home health social worker at a nearby hospital and from another company that does in home care. I was told that GoodPeople were so efficient, that they would be able to find a 24/7 in home caregiver very quickly. They were ... I would recommend GoodPeople to anyone looking for in home care for their loved ones. ..."
								%p.p--testimonial-signature ~Sandy Sweeney
							= link_to 'read the full letter', testimonials_path( anchor:3767 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "Our caregiver was a Godsend to our family. ... Honestly, I could fill another page with kudos of all of our caregivers skills, kindness, hard work, and sincere compassion for Daddy at this stage of his life. ..."
								%p.p--testimonial-signature ~Barb Padbury
							= link_to 'read the full letter', testimonials_path( anchor:3761 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... The first person ... did not work. ... We did this 3 more times until ... Bob. My father and Bob were the perfect match. ...  My dad's wish was always to pass away at home and not in a nursing home. The Good People help me honor my father's wishes."
								%p.p--testimonial-signature ~Katie Osborne
							= link_to 'read the full letter', testimonials_path( anchor:3555 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Over the past three years we have had two different live-in caregivers. Both have been very good and treated my mother-in-law like she was their own family. ..."
								%p.p--testimonial-signature ~Ralph S.
							= link_to 'read the full letter', testimonials_path( anchor:2799 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... His first desire was to be able to stay at home on his farm ... Good People has been able to answer our needs admirably ... The care has been dedicated, trust worthy, and affordable. ..."
								%p.p--testimonial-signature ~Steven Merry MD
							= link_to 'read the full letter', testimonials_path( anchor:3695 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... After an extensive interview, a caregiver moved into my parent’s home within a few days. ... Our current caregiver has been with my parents for over three years and has become a member of our family. ..."
								%p.p--testimonial-signature ~Jill Proulx
							= link_to 'read the full letter', testimonials_path( anchor:1212 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... My mother told me that we could not have found a better one I highly recommend you contact Good People if you have a loved one that wants to stay in their own home and needs care. ..."
								%p.p--testimonial-signature ~Vernon Strauch
							= link_to 'read the full letter', testimonials_path( anchor:4135 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... The social worker at the hospital gave me excellent references for GoodPeople as a place to find a live in caregiver. ... I recommend GoodPeople to anyone looking for in home care ... My parents can continue to be in their home. ... Keep up the good work!"
								%p.p--testimonial-signature ~Phyllis D.
							= link_to 'read the full letter', testimonials_path( anchor:3711 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... If I had it all to do over again, I would skip all of the institutional alternatives we tried ... in spite some truly caring individuals who work in these organizations; ..."
								%p.p--testimonial-signature ~Jane Beule
							= link_to 'read the full letter', testimonials_path( anchor:2898 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... each caregiver that came to be with Dad was exceptional, and I'm grateful that we found this agency."
								%p.p--testimonial-signature ~Elizabeth Wakefield
							= link_to 'read the full letter', testimonials_path( anchor:3579 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... I am so grateful to each of my caregivers, they were like sisters to me. They enabled my parents to have the best life possible together, in their final years. ..."
								%p.p--testimonial-signature ~Barbara Roe
							= link_to 'read the full letter', testimonials_path( anchor:3775 ), class: 'a--full-testimonial'

						%li.li--testimonial-excerpt
							%article.article--testimonial
								%p "... Teri was an angel she did everything mom asked of her and more and never complained.	... I would recommend Good People and Teri to anyone who is in search of someone to care for their loved ones because you can't find anyone better."
								%p.p--testimonial-signature ~Sue Nanstad
							= link_to 'read the full letter', testimonials_path( anchor:4008 ), class: 'a--full-testimonial'

		= render 'cta_learn_more'

		%footer.row
			.columns.small-centered.small-8
				%p.p-footer &copy; 2001 - #{Date.today.year} Good People, LLC

