!!!
%html
	%head
		%title Good People LLC - Live-in caregivers & companions
		// 5/12/15: http://blog.steveklabnik.com/posts/2013-06-25-removing-turbolinks-from-rails-4
		=stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
		=javascript_include_tag 'application'#, 'data-turbolinks-track' => true
		=csrf_meta_tags

	%body{ id:@body_id }

		%header.header--print-pg
			= render partial: 'header_desktop', locals: { map_ref: 'intro' }

		%main.content--print-pg
			%h1= link_to 'Intro', :action => :intro
			= render 'intro'
			%br

			%h1= link_to 'Care', :action => :type_of_care
			= render 'type_of_care'
			%br

			%h1= link_to 'Caregivers', :action => :caregivers
			= render 'caregivers'
			%br

			%h1= link_to 'Procedure', :action => :procedure
			= render 'procedure'
			%br

			%h1= link_to 'Service area', :action => :servicearea
			= render 'servicearea'
			%br

			%h1= link_to 'Cost', :action => :cost
			= render 'cost'
			%br

			%h1= link_to 'Contact us', :action => :contactus
			= render 'contactus'
