!!!
%html
	%head
		%title Good People LLC - Live-in caregivers & companions
		= stylesheet_link_tag	'application', media: 'all'
		= javascript_importmap_tags
		= csrf_meta_tags
		= csp_meta_tag
		= render 'javascript_google_tag'

	%body

		%header.header--print-pg
			= render partial: 'header_desktop', locals: { map_ref: 'intro' }

		%main.main--print-pg
			%h1.h1--print-pg= link_to 'Intro', :action => :intro
			= render 'intro'
			%br

			%h1.h1--print-pg= link_to 'Care', :action => :type_of_care
			= render 'type_of_care'
			%br

			%h1.h1--print-pg= link_to 'Caregivers', :action => :caregivers
			= render 'caregivers'
			%br

			%h1.h1--print-pg= link_to 'Procedure', :action => :procedure
			= render 'procedure'
			%br

			%h1.h1--print-pg= link_to 'Service area', :action => :servicearea
			= render 'servicearea'
			%br

			%h1.h1--print-pg= link_to 'Cost', :action => :cost
			= render 'cost'
			%br

			%h1.h1--print-pg= link_to 'Contact us', :action => :contactus
			= render 'contactus'
