%li= link_to 'Welcome', intro_path
%li= link_to 'Type of Care', type_of_care_path
%li= link_to 'Caregivers', caregivers_path
%li= link_to 'Procedure', procedure_path
%li= link_to 'Service area', servicearea_path
%li= link_to 'Cost', cost_path
%li= link_to 'Testimonials', testimonials_path
%li= link_to 'Contact us ...', contactus_path
