!!!
%html
	%head
		%title= content_for(:title) || "Good People - Live-in caregivers & companions"
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
		%meta{ name: "apple-mobile-web-app-capable", content: "yes" }
		%meta{ name: "mobile-web-app-capable", content: "yes" }
		%meta{ name: "gp-gm-api-key", content: ENV['GP_GOOGLE_MAPS_API_KEY'] }
		%meta{ name: "gp-gm-map-id", content: ENV['GP_GOOGLE_MAPS_MAP_ID'] }
		= csrf_meta_tags
		= csp_meta_tag

		= yield :head

		-# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
		-#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

		%link{ rel: "icon", href: "/icon.png", type: "image/png" }
		%link{ rel: "icon", href: "/icon.svg", type: "image/svg+xml" }
		%link{ rel: "apple-touch-icon", href: "/icon.png" }

		-# Includes all stylesheet files in app/assets/stylesheets
		= stylesheet_link_tag :app, "data-turbo-track": "reload"
		= javascript_importmap_tags
		= javascript_fontawesome_kit_tag
		= javascript_google_tag

	%body.body--interior-pg{ data: { controller: "nav-mobile" } }
		%nav.nav--mobile{ data: { nav_mobile_target: "navMobile" } }
			%header.header-nav--mobile.flexrow
				= render 'header_nav_mobile' # has data: { action: "nav-mobile#close" }
			%ul{ data: { controller: "nav-current" } }
				= render 'items_nav'
			%footer.footer-nav--mobile
				= render 'footer_nav_mobile'

		%div.div--canvas-overlay{ data: { nav_mobile_target: "canvasOverlay", action: "click->nav-mobile#close" } }

		%div.div--canvas-interior-pg.gridfield
			%header.header--interior-pg-mobile.flexrow{ data: { nav_mobile_target: "headerMobile" } }
				= render 'header_mobile' # has  data: { action: "nav-mobile#open" } }

			%header.header--interior-pg-desktop.flexrow
				= render 'header_desktop'
			%nav.nav--desktop
				%ul{ data: { controller: "nav-current" } }
					= render 'items_nav'
				%footer.footer-nav--desktop
					= render 'footer_nav_desktop'

			%main.main--interior-pg
				= yield

			%footer.footer--interior-pg
				%p.p-footer &copy; 2001 - #{Date.today.year} Good People, LLC
