!!!
%html
	%head
		%title Good People LLC - Live-in caregivers & companions
		// 5/12/15: http://blog.steveklabnik.com/posts/2013-06-25-removing-turbolinks-from-rails-4
		=stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
		=javascript_include_tag 'application'#, 'data-turbolinks-track' => true
		=csrf_meta_tags

	%body{ id:@body_id }
		#interiorWrapper
			#header= render partial:'header', locals:{ map_ref:'/' }
		
			#navCol
				#nav
					%ul
						%li#intro= 				link_to 'Intro', intro_path
						%li#care= 				link_to 'Care', care_path
						%li#caregivers= 	link_to 'Caregivers', caregivers_path
						%li#procedure= 		link_to 'Procedure', procedure_path
						%li#servicearea= 	link_to 'Service area', servicearea_path
						%li#cost= 				link_to 'Cost', cost_path
						%li#testimonials= link_to 'Testimonials', testimonials_path
						%li#contactus= 		link_to 'Contact us ...', contactus_path
						%li &nbsp;
						-if false
							%li#carebees= 	link_to '... or &nbsp;&nbsp;&nbsp;&nbsp;<br/>DO IT YOURSELF ...', :action => :carebees
				#printLink
					%ul
						%li= link_to 'Printer Friendly', print_path
		
			#content= yield

			#footer &copy; 2001 - #{Date.today.year} Good People, LLC
