!!!
%html
	%head
		%title= content_for(:title) || "Good People - Live-in caregivers & companions"
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
		%meta{ name: "apple-mobile-web-app-capable", content: "yes" }
		%meta{ name: "mobile-web-app-capable", content: "yes" }
		%meta{ name: "gp-gm-api-key", content: ENV['GP_GOOGLE_MAPS_API_KEY'] }
		%meta{ name: "gp-gm-map-id", content: ENV['GP_GOOGLE_MAPS_MAP_ID'] }
		= csrf_meta_tags
		= csp_meta_tag

		= yield :head

		-# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!)
		-#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json)

		%link{ rel: "icon", href: "/icon.png", type: "image/png" }
		%link{ rel: "icon", href: "/icon.svg", type: "image/svg+xml" }
		%link{ rel: "apple-touch-icon", href: "/icon.png" }

		-# Includes all stylesheet files in app/assets/stylesheets
		= stylesheet_link_tag :app, "data-turbo-track": "reload"
		= javascript_importmap_tags
		= javascript_fontawesome_kit_tag
		= javascript_google_tag

	%body.body--interior-pg{ data: { controller: "nav-mobile" } }
		%nav.nav--mobile{ data: { nav_mobile_target: "navMobile" } }
			%header.header-nav--mobile
				= link_to root_path do
					= render 'svg_gp_logo_logomark'
				%button.button--nav-close{ type: 'button', data: { action: "nav-mobile#close" } }
					= render 'svg_nav_burger' # [𝝣] animates into [x], once per session

			%ul{ data: { controller: "nav-current" } }
				= render 'nav_items'
				%li &nbsp;
				%li= link_to '1-800-608-8003', 'tel:18006088003', class: 'a--gp-contact-info'
				%li= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class: 'a--gp-contact-info'

		.canvas-overlay{ data: { nav_mobile_target: "canvasOverlay", action: "click->nav-mobile#close" } }

		.canvas-interior-pg
			%header.header--interior-pg-mobile{ data: { nav_mobile_target: "headerMobile" } }
				%button.button--nav-burger{ type: 'button', data: { action: "nav-mobile#open" } }
					= render 'svg_nav_burger'
					%span Menu
				.gp-contact-info--header--mobile
					= link_to '1-800-608-8003', 'tel:18006088003', class: 'a--gp-contact-info'
					= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class: 'a--gp-contact-info'

			%header.header--interior-pg-desktop
				= render 'header_desktop'
			%nav.nav--desktop
				%ul{ data: { controller: "nav-current" } }
					= render 'nav_items'
					%li
						= link_to print_path, class: 'a--print' do
							%i.fas.fa-print &nbsp;
							%span Print view

			%main.main--interior-pg
				= yield

			%footer.footer--interior-pg
				%p.p-footer &copy; 2001 - #{Date.today.year} Good People, LLC
