!!!
%html
	%head
		%meta{ charset: 'utf-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
		%script{ src: "https://kit.fontawesome.com/a46ffabf68.js", crossorigin: "anonymous" }
		%title Good People LLC - Live-in caregivers & companions
		= stylesheet_link_tag	'application', media: 'all'
		= javascript_importmap_tags
		= csrf_meta_tags
		= csp_meta_tag
		= render 'javascript_google_tag'

	%body
		// hide horizontal scrollbar when .off-canvas.is-open
		.off-canvas-wrapper
			.off-canvas#offCanvas.position-left{ data: { off_canvas: true } }
				%nav
					%ul.menu.vertical
						%li
							= link_to root_path do
								= render 'svg_gp_logo_logomark'
						%li= link_to 'Welcome', intro_path
						%li= link_to 'Type of Care', type_of_care_path
						%li= link_to 'Caregivers', caregivers_path
						%li= link_to 'Procedure', procedure_path
						%li= link_to 'Service area', servicearea_path
						%li= link_to 'Cost', cost_path
						%li= link_to 'Testimonials', testimonials_path
						%li= link_to 'Contact us ...', contactus_path
						%li &nbsp;
						%li= link_to '1-800-608-8003', 'tel:18006088003', class: 'a--gp-contact-info'
						%li= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class: 'a--gp-contact-info'

			.off-canvas-content{ data: { off_canvas_content: true, sticky_container: true } }
				%header.header--mobile.title-bar.sticky.row.hide-for-medium{ data: { sticky: true, sticky_on: 'small', margin_top: 0 } }
					.title-bar-left
						.off-canvas-opener
							%button.menu-icon{ type: 'button', data: { toggle: 'offCanvas' } }
								%label.label--off-canvas-opener Menu
					.title-bar-right
						.gp-contact-info--header--mobile
							= link_to '1-800-608-8003', 'tel:18006088003', class: 'a--gp-contact-info'
							= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class: 'a--gp-contact-info'

				%header.header--desktop.row.show-for-medium
					.column.small-12
						= render partial: 'header_desktop'
				.row
					.column.medium-3
						%nav.show-for-medium
							%ul.menu.vertical
								%li= link_to 'Intro', intro_path
								%li= link_to 'Type of Care', type_of_care_path
								%li= link_to 'Caregivers', caregivers_path
								%li= link_to 'Procedure', procedure_path
								%li= link_to 'Service area', servicearea_path
								%li= link_to 'Cost', cost_path
								%li= link_to 'Testimonials', testimonials_path
								%li= link_to 'Contact us ...', contactus_path
								%li.li--print--nav
									= link_to print_path, class: 'a--print--nav' do
										%i.fas.fa-print &nbsp;
										%span Print view

					.column.small-12.medium-9
						%main
							= yield

				%footer.row
					.columns.small-12.medium-9.medium-offset-3
						%p.p-footer &copy; 2001 - #{Date.today.year} Good People, LLC
