!!!
%html
	%head
		%meta{ charset: 'utf-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
		%meta{ name: 'gp-gm-api-key', content: ENV['GP_GOOGLE_MAPS_API_KEY'] }
		%meta{ name: 'gp-gm-map-id', content: ENV['GP_GOOGLE_MAPS_MAP_ID'] }
		%script{ src: "https://kit.fontawesome.com/a46ffabf68.js", crossorigin: "anonymous" }
		%title Good People LLC - Live-in caregivers & companions
		= stylesheet_link_tag	'application', media: 'all'
		= javascript_importmap_tags
		= javascript_google_tag
		= csrf_meta_tags
		= csp_meta_tag

	%body.body--interior-pg
		.off-canvas#offCanvas.position-left{ data: { off_canvas: true } }
			%nav
				%ul.menu.vertical{ data: { controller: "current-nav-item" } }
					%li
						= link_to root_path do
							= render 'svg_gp_logo_logomark'
					= render 'menu_nav_shared_items'
					%li &nbsp;
					%li= link_to '1-800-608-8003', 'tel:18006088003', class: 'a--gp-contact-info'
					%li= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class: 'a--gp-contact-info'

		.off-canvas-content{ data: { off_canvas_content: true } }
			%header.header--mobile-interior-pg
				.left--header--mobile
					.off-canvas-opener
						%button.menu-icon{ type: 'button', data: { toggle: 'offCanvas' } }
							%label.label--off-canvas-opener Menu
				.right--header--mobile
					.gp-contact-info--header--mobile
						= link_to '1-800-608-8003', 'tel:18006088003', class: 'a--gp-contact-info'
						= link_to 'info@goodpeople.us', 'mailto:info@goodpeople.us', class: 'a--gp-contact-info'

			.gridfield
				%header.header--desktop-interior-pg
					= render 'header_desktop'
				%nav.nav--desktop-interior-pg
					%ul.menu.vertical{ data: { controller: "current-nav-item" } }
						= render 'menu_nav_shared_items'
						%li
							= link_to print_path, class: 'a--print' do
								%i.fas.fa-print &nbsp;
								%span Print view

				%main.main--interior-pg
					= yield

				%footer.footer--interior-pg
					%p.p-footer &copy; 2001 - #{Date.today.year} Good People, LLC
