!!!
%html
	%head
		%title Good People LLC - Live-in caregivers & companions
		= stylesheet_link_tag "colors",      "data-turbo-track": "reload"
		= stylesheet_link_tag "global",      "data-turbo-track": "reload"
		= stylesheet_link_tag "typography",  "data-turbo-track": "reload"
		= stylesheet_link_tag "interactive", "data-turbo-track": "reload"
		= stylesheet_link_tag "layout",      "data-turbo-track": "reload"
		= stylesheet_link_tag "images",      "data-turbo-track": "reload"
		= stylesheet_link_tag "dark_mode",   "data-turbo-track": "reload"
		= javascript_importmap_tags
		= javascript_google_tag
		= csrf_meta_tags
		= csp_meta_tag

	%body
		= yield
